__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
*.tmp
*.log
*.sqlite
*.egg-info/
*.dist-info/
PKG-INFO
requires.txt
SOURCES.txt
top_level.txt
entry_points.txt
kline_output/
kline_status.db
kline_status.db-journal
.env
.venv
.idea/
.DS_Store
